*.class
*.log
.idea

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Maven ###
dependency-reduced-pom*.xml
docs/maven_site
.flattened-pom.xml
.m2

### Chris Added ###
*/target/*
allDependenciessite/

### Make sure that the site isn't pushed in, in gh-pages it's not site either ###
site/
version.txt
coverage.txt
#src/build/__pycache__/
__pycache__
*.egg-info
#src/build/searchWithHtml/searchWithHtml/

### mkdocs-ubs content
docs/ubs_base/
.gitlab-pipeline.yml
plantuml.bat

### hive stuffs
metastore_db/