site_name: Quality
site_url: https://sparkutils.github.io/quality/

repo_url: https://github.com/sparkutils/quality/
repo_name: Quality

extra_javascript:
  - js/jquery-3.6.3.min.js
  - js/tagflipper.js

extra_css:
  - stylesheets/site.css

edit_uri: !ENV [MKDOCS_EDIT_URL, ''] # empty disables shows with value enabled -/edit/master/docs/

theme:
  name: material
  logo: img/quality.png
  favicon: img/quality.png
  include_search_page: false
  search_index_only: true
  features:
    - navigation.tabs
    - navigation.top
    - navigation.expand
    - content.code.copy

extra:
  version:
    default: latest
    provider: mike

nav:
  - Home: index.md
  - Getting Started:
    - Building and Setting Up: getting_started/index.md
    - Defining & Running your first RuleSuite: getting_started/a_first_rulesuite.md
    - Those are some Quality flavours: getting_started/flavours.md
    - Key SQL Functions to use in your Rules: getting_started/key_functions.md
    - Reading & Writing RuleSuites: getting_started/serializing.md
    - Running Quality on Databricks: getting_started/running_on_databricks.md
    - Running Quality on Fabric: getting_started/running_on_fabric.md
  - About:
    - History: background/about.md
    - Performance Choices:
      - Evaluation Method: background/evaluation_method.md
      - Storage Method: background/storage_method.md
    - Changelog: background/changelog.md
  - Model:
    - Rule Model: model/index.md
    - Storage Model: model/storage.md
    - Meta Rulesets?: model/meta.md
  - Advanced Usage:
    - Bloom Filters: advanced/blooms.md
    - Map Functions: advanced/mapFunctions.md
    - Aggregation Functions: advanced/aggregations.md
    - User Defined Functions: advanced/userFunctions.md
    - PRNG Functions: advanced/prng.md
    - Row ID Functions: advanced/rowIdFunctions.md
    - QualityRules:
      - Engine: advanced/ruleEngine.md
      - Workflow: advanced/ruleEngineWorkflow.md
    - QualityFolder: advanced/ruleFolder.md
    - QualityExpressions: advanced/expressionRunner.md
    - Validation: advanced/validation.md
    - Expression Documentation: advanced/expressionDocs.md
    - View Loading: advanced/viewLoader.md
  - Maven Site: site/index.html
  - Scala Docs: site/scaladocs/com/sparkutils/quality/index.html
  - SQL Functions Documentation: sqlfunctions.md

plugins:
  - search:
      prebuild_index: true
      lang: en
  - macros
  - git-revision-date-localized:
      type: datetime
      fallback_to_build_date: true
      enable_creation_date: true
  - with-pdf:
      enabled_if_env: ENABLE_PDF_EXPORT
      cover_subtitle: A High Performance Spark DQ Library
      copyright: Copyright @ 2022 - UBS AG
      author: Chris Twiner

markdown_extensions:
  - markdown.extensions.toc:
      permalink: true
  - markdown.extensions.admonition:
  - markdown.extensions.smarty:
      smart_quotes: false
  - pymdownx.betterem:
  - markdown.extensions.attr_list:
  - markdown.extensions.def_list:
  - markdown.extensions.tables:
  - markdown.extensions.abbr:
  - markdown.extensions.footnotes:
  - markdown.extensions.md_in_html:
  - pymdownx.highlight:
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.details:
  - pymdownx.tabbed:
  - pymdownx.inlinehilite:
  - meta
  - plantuml_markdown:
      priority: 50
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shorthand: true
      social_url_shortener: true
      user: sparkutils
      repo: quality
  - pymdownx.saneheaders:
