div.quality_gantt .section0 {
	fill: #c09cef !important;
}

.noborder {
  border-style: none !important;
  border-width: 0px !important;
}

.nomargin {
  margin: 0px 0px 0px 0px !important;
  padding: 1rem;
}
  
.nopadding {
  padding: 0px !important;
}

.rule_error, .rule_warning {
  padding: 0.2em;
  border-width: 2px;
  border-style: solid;
}

.rule_error {
  background-color: #E6B6A4;
}

.rule_warning {
  background-color: #FFEB3B;
}

/* can't combine these, chrome doesn't accept it for some reason */
.lambdas_used li {
  margin-left: 0px !important;
}

.spark_functions_used li {
  margin-left: 0px !important;
}

.spark_functions_used, .lambdas_used {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.spark_functions_used, .lambdas_used > p {
  font-weight: bold;
}

#tag_list > li {
  padding: 0.2em;
  border-width: 2px;
  //border-style: solid;
}

.alternative {
  margin-left: 2em;
}

.shrink_to_fit {
  max-width: 100%;
  max-height: 100%;
}

.caption {
  background-color: #EDEDED;
  /* font-weight: bold; */
  font-size: x-large;
}